/* This file is for your main application css. */

.tokens {
  display: flex;
  flex-flow: row wrap;
}

.token {
  background: #FFAA00;
  border-radius: 30%;
  height: 1em;
  width: 1em;
  margin: 1px;
}
